<!DOCTYPE html>
<html>
<head>

    <title> Skill Match</title>
</head>
<body>
<h1>These are the courses related to your skills</h1>

<table>
    <tr>
        <td>
            <ul>
               <li th:text="${skill}"> Skills</li>
            </ul>

        </td>
        <td>
            <ul>
                <li th:text="${course}">Course</li>
            </ul>

        </td>
        <td>
            <ul>
                <li th:text="${name}">Course Name on Coursera</li>
            </ul>

        </td>
    </tr>
</table>
</body>
</html>