<!DOCTYPE html>
<html>
<head>
    <title> Technologies </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <style>
        .margin-bottom-10	{
            margin-bottom: 10px;
        }
        .margin-top-10	{
            margin-top: 10px;
        }
        .margin-right-10 {
            margin-right: 30px;
        }
        .margin-left-10{
            margin-left: 10px;
        }

        .color{
            background-color: #000000;
        }
        body {background-color:white}
        h3 {color:black}
        h4 {color:black}
        h1 {color:black}
    </style>

</head>
<body
        style="background-color:white">>
<nav class="navbar navbar-default">
    <!--<div class="container">-->




    <div class="container-fluid color" >
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

                <a id="connectionBtn" class="navbar-brand margin-right-10 color-1" href="/" ng-click="showForm()"><h4 style="color: #FFFFFF">Get Connections</h4></a>
                <a id="technologyBtn" class="navbar-brand margin-right-10 color-1" href="" ng-click="onTechBtnClick()" ><h4 style="color: #FFFFFF">Popular Technologies</h4></a>
                <a id="skillsBtn" class="navbar-brand margin-right-10 color-1" href="/skillMatch"  ><h4 style="color: #FFFFFF">Suggested Courses</h4></a>
                <a id="courseBtn" class="navbar-brand margin-right-10 color-1" href="/courses"  ><h4 style="color: #FFFFFF">Coursera Courses</h4></a>
                <a id="companyBtn" class="navbar-brand margin-right-10 color-1" href="/jobs"  ><h4 style="color: #FFFFFF">Show Companies</h4></a>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search"/>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

        </div>

    <!--</div>-->
</nav>

<table>
    <tr>
        <td>
            <p class="text-capitalize">
                <em>
                    <h3
                            style="color: black">

                        <strong>
                            <em>
                                These are the popular technologies.
                            </em>
                        </strong>
                    </h3>
                </em>
            </p>

            <li
                    style="color:black"
                    th:each="technology:${technologies}" th:text="${ technology.name + ' (' + technology.count + ')' }"> Technologies >
            </li>
        </td>

    </tr>
</table>


</body>
</html>