<html>
	<head>
		<title>Hello LinkedIn</title>
	</head>
	<body>
		<h3>Connected to LinkedIn</h3>
		
		<p>
			You are now connected to your LinkedIn account.
			<br/>
			Click <a href="/">here</a> to see your LinkedIn connections and your Skills.
			<br/>
			Click<a href="/jobs">here</a>to find companies you are following.
			<br/>
			Click<a href="/jobsList">here</a>to find all th Job Postings.
			<br/>
			Click<a href="/courses">here</a>to find all courses on the coursera here.
			<br/>
			Click<a href="/skillMatch">here</a>to find all courses related to your Skills on LinkedIn.

		</p>
	</body>
</html>