<html lang="en" ng-app="phonecatApp">
<head>
    <title>Linked-Era</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="/vendor/jquery.js"></script>
    <script src="/vendor/angular.js"></script>
    <script src="/vendor/angular-animate.js"></script>
    <script src="/vendor/angular-route.js"></script>
    <script src="/vendor/angular-resource.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/animations.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/services.js"></script>
    
    <style>
        .margin-right-10 {
            margin-right: 10px;
        }        

        .margin-bottom-10 {
            margin-bottom: 10px;
        }       

        .color {
            background-color: #000000;
        }

        .color-1 {
            text-decoration-color: #FFFFFF;
        }

        h2 {
            color: white
        }
        
        .margin-top-20 {
            margin-top: 20px;
        }

        .margin-bottom-20 {
            margin-bottom: 20px;
        }

        body {
            background-color: white
        }

        h3 {
            color: black
        }

        h4 {
            color: black
        }
    </style>
</head>

<body style="background-color:white" ng-controller="TechCtrl">
<nav class="navbar navbar-default">

    <div class="container-fluid color">
        <div class="navbar-header margin-bottom-20">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a id="technologyBtn" class="navbar-brand margin-right-10 color-1" href="" ng-click="onPopularTechnologiesClick()">
            	<h4 style="color: #FFFFFF">Popular Technologies</h4>
            </a>
            <a id="SugstBtn" class="navbar-brand margin-right-10 color-1" href="" ng-click="onSuggestedCoursesClick()" >
            	<h4 style="color: #FFFFFF">Suggested Courses</h4>
            </a>
            <a id="courseBtn" class="navbar-brand margin-right-10 color-1" href="" ng-click="onCourseraCoursesClick()">
            	<h4 style="color: #FFFFFF">Coursera Courses</h4>
            </a>
	       <a id="InterestBtn" class="navbar-brand margin-right-10 color-1" ng-click="onInterestCoursesClick()" href="">
	       		<h4 style="color: #FFFFFF">Courses of your Interest</h4>
	       </a>
	       <a id="QuoraBtn" class="navbar-brand margin-right-10 color-1" ng-click="onQuoraCoursesClick()" href="">
	       		<h4 style="color: #FFFFFF">Quora Interest Related Courses</h4>
	       </a>
	    </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right margin-top-20" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Courses" ng-model="input"/>
                </div>
                <button class="btn btn-default" ng-click="onSearchClick()">Submit</button>
            </form>
        </div>
    </div>
</nav>

<table allign="center" ng-if="showTechnologies">
    <tr>
        <td>
            <p class="text-capitalize">

                <em>
                    <strong>
                        <h3>
                            <p class="text-center" style="padding-left: 20px;">These are the Popular Technologies:</p>
                        </h3>
                    </strong>
                </em>
            </p>
        </td>
    </tr>

    <tr>
        <td>
            <ul>
                <li style="color: black" ng-repeat="technology in technologies">
                    <em>{{technology.name + ' (' + technology.count + ')'}}</em>
                </li>
            </ul>
        </td>
		 <td>            
         	Please add your interests here <input type="text" ng-model="myInterest" id="myInterest"/>
            <input type="button" value="submit" ng-click="suggetedInterestCourses()"/>

        </td>
        <!-- <td>
        	<div ng-if="myInterests.length>1">Your Interests below:</div>
            <ul>
                <li style="color: black" ng-repeat="interest in myInterests">
                    <em>{{interest.name}}</em>
                </li>
            </ul>
        </td> -->       
    </tr>        
</table>

<table allign="center" ng-if="showSuggestedCourses">
    <tr>
        <td>
            <p class="text-capitalize">
                <em>
                    <strong>
                        <h3>
                            <p class="text-center">These are the Suggested Courses:</p>
                        </h3>
                    </strong>
                </em>
            </p>
        </td>
    </tr>
    <tr>
       <td>
            <ul>
                <li style="color: black" ng-repeat="(key,val) in suggestedCourses">
                    <em>{{key}}: <a ng-href="https://www.coursera.org/course/{{key}}">{{val}}</a></em>
                </li>
		 </ul>
       </td>
    </tr>    
</table>

<table allign="center" ng-if="showCourseraCourses">
    <tr>
        <td>
            <p class="text-capitalize">

                <em>
                    <strong>
                        <h3>
                            <p class="text-center">These are the Coursera Courses:</p>
                        </h3>
                    </strong>
                </em>
            </p>
        </td>
    </tr>    
    <tr>
        <td>
        	<ul>
                <li style="color: black" ng-repeat="course in courseraCourses ">
                    <em><a ng-href="https://www.coursera.org/course/{{course.shortName}}">{{course.shortName }} : {{course.name}}</a></em>
                </li>
            </ul>
        </td>
    </tr>
</table>

<table allign="center" ng-if="showInterestCourses">	
    <tr>
        <td>
            <p class="text-capitalize">
                <em>
                    <strong>
                        <h3>
                            <p class="text-center">These are the Courses of your interest:</p>
                        </h3>
                    </strong>
                </em>
            </p>
        </td>
    </tr>    
    <tr>
        <td>
            <ul>
          		<li style="color: black" ng-repeat="course in interestCourses ">
                    <em><a ng-href="https://www.coursera.org/course/{{course.shortName}}">{{course.shortName }} : {{course.name}}</a></em>
                </li>
            </ul>
        </td>
    </tr>
</table>

<table allign="center" ng-if="showQuoraCourses">	
    <tr>
        <td>
            <p class="text-capitalize">
                <em>
                    <strong>
                        <h3>
                            <p class="text-center">These are the Quora Courses:</p>
                        </h3>
                    </strong>
                </em>
            </p>
        </td>
    </tr>    
    <tr>
        <td>
            <ul>
          		<li style="color: black" ng-repeat="(key,val) in quoraCourses">
                    <em>{{key}}: <a ng-href="https://www.coursera.org/course/{{key}}">{{val}}</a></em>
                </li>
            </ul>
        </td>
    </tr>
</table>

</body>
</html>